body {
  margin:0;

  background-image: url("./images/light.png");
  background-position: center top;
  background-size: 100% auto;

}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(235,27,72) !important;
  border-color: rgb(235,27,72) !important;
}

.btn-primary:hover {
  background-color: rgb(192,16,54) !important;
}

.btn-link, .btn-link:active, .btn-link:visited {
  font-family: 'Modak', cursive !important;
  font-size: 25px !important;
  color: rgb(235,27,72) !important;
}

.btn-link:hover {
  font-family: 'Modak', cursive !important;
  font-size: 25px !important;
  color: rgb(192,16,54) !important;
}


.bigHeroText{
  font-family: 'Modak', cursive;
  font-size: 120px;
  color: rgb(235,27,72);
}

.smHeroText{
  font-family: 'Modak', cursive;
  font-size: 50px;
  color: rgb(235,27,72);
}
.bigHeroText-md{
  font-family: 'Modak', cursive;
  font-size: 70px;
  color: rgb(235,27,72);
}

.smHeroText-md{
  font-family: 'Modak', cursive;
  font-size: 30px;
  color: rgb(235,27,72);
}
.bigHeroText-sm{
  font-family: 'Modak', cursive;
  font-size: 52px;
  color: rgb(235,27,72);
}

.smHeroText-sm{
  font-family: 'Modak', cursive;
  font-size: 22px;
  color: rgb(235,27,72);
}

.leaf{

  width:100%;
  height:100%;
  top:0;
  left:0;
}
.leaf div{
  position:absolute ;
  display:block ;
  z-index: -1;
}
.leaf div:nth-child(1){
  top:-50%;
  left:20%;
  animation:fall 15s linear;
  animation-delay:20s;

}
.leaf div:nth-child(2){
  top:-50%;
  left:70%;
  animation:fall 30s linear;
  animation-delay:30s;
}
.leaf div:nth-child(3){
  top:-50%;
  left:50%;
  animation:fall 20s linear;
  animation-delay:10s;

}
.leaf div:nth-child(4){
  top:-50%;
  left:30%;
  animation:fall 18s linear;
  animation-delay:100s;
}
.leaf div:nth-child(5){
  top:-50%;
  left:95%;
  animation:fall 14s linear;
  animation-delay:80s;
}
.leaf div:nth-child(6){
  top:-50%;
  left:5%;
  animation:fall 16s linear;
  animation-delay:18s;
}
.leaf div:nth-child(7){
  top:-50%;
  left:80%;
  animation:fall 15s linear;
  animation-delay:60s;
}

@keyframes fall{
  0%{
    opacity:1;
    top:-10%;
    transform:translateX (20px) rotate(0deg);
  }
  20%{
    opacity:0.8;
    transform:translateX (-20px) rotate(45deg);
  }
  40%{

    transform:translateX (-20px) rotate(90deg);
  }
  60%{

    transform:translateX (-20px) rotate(135deg);
  }
  80%{

    transform:translateX (-20px) rotate(180deg);
  }
  100%{
    top:110%;
    transform:translateX (-20px) rotate(225deg);
  }
}
.leaf1{
  transform: rotateX(180deg);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(235,27,72);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
